Genel olarak yapacağınız adımlar şunlar olacak:

    1- Kullanacağınız veriyi indirip, okumak
    2- Verinizin içindeki eksik ve kategorik değişkenler ile ilgilenip modele besleyeceğimiz hale getirmek 
    3- İlgilendiğiniz probleme göre error metriğine karar vermek (derste gördüğümüz RMSE-RMSLE gibi)
    4- Verinizi train-validation-test diye bölmek (burada validation ve test'in gerçek hayatı yansıtması çok önemli)
    5- Olabildiğince fazla model denemek ve metriğimizde en iyi yapanı seçmek

# Gerekli Kütüphaneler

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

# 1 - Veriyi indirip, okumak

In [2]:
data = pd.read_csv("data_with_nans.csv")

In [3]:
data.head()

,Unnamed: 0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,0,0,5.1,3.5,1.4,0.2,Iris-setosa
1,1,1,4.7,3.2,1.6,0.2,Iris-setosa
2,2,2,4.9,3.1,1.5,0.1,Iris-setosa
3,3,3,4.4,2.9,1.4,0.2,Iris-setosa
4,4,4,5.0,3.4,1.5,0.2,Iris-setosa

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     170 non-null    int64
 1   Id             170 non-null    int64
 2   SepalLengthCm  167 non-null    float64
 3   SepalWidthCm   169 non-null    float64
 4   PetalLengthCm  166 non-null    float64
 5   PetalWidthCm   168 non-null    float64
 6   Species        170 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 9.4+ KB

# 2 - Eksik ve gereksiz verilerin düşürülmesi

In [5]:
data.columns

Index(['Unnamed: 0', 'Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [7]:
data.drop(labels=[data.columns[0]], axis=1, inplace=True)

In [9]:
data.tail(20)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
150            5.8           2.7            5.1           1.9  Iris-virginica
151            6.8           3.2            5.9           2.3  Iris-virginica
152            6.7           3.3            5.7           2.5  Iris-virginica
153            6.3           2.5            5.0           1.9  Iris-virginica
154            6.3           2.7            4.9           1.8  Iris-virginica
155            6.5           3.0            5.2           2.0  Iris-virginica
156            6.2           3.4            5.4           2.3  Iris-virginica
157            5.9           3.0            5.1           1.8  Iris-virginica
158            6.4           2.8            5.6           2.2  Iris-virginica
159            7.7           3.8            6.7           2.2  Iris-virginica
160            5.8           2.8            5.1           NaN  Iris-virginica
161            6.7           3.0            5.2           2.3  Iris-virginica
162            7.7           3.0            6.1           2.3  Iris-virginica
163            7.2           3.2            6.0           1.8  Iris-virginica
164            6.3           2.8            5.1           1.5  Iris-virginica
165            5.7           2.5            5.0           2.0  Iris-virginica
166            6.8           3.0            5.5           2.1  Iris-virginica
167            6.4           2.7            5.3           1.9  Iris-virginica
168            7.2           3.6            6.1           2.5  Iris-virginica
169            6.3           3.3            6.0           2.5  Iris-virginica

In [16]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     167.000000    170.000000     170.000000    170.000000
mean        5.826347      3.072781       3.707229      1.180357
std         0.827189      0.446252       1.768079      0.760509
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.500000      0.300000
50%         5.800000      3.000000       4.200000      1.300000
75%         6.400000      3.400000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [17]:
data.groupby("Species").agg(["min", "max", "std", "mean"])

                SepalLengthCm                          SepalWidthCm       \
                          min  max       std      mean          min  max
Species
Iris-setosa               4.3  6.9  0.429014  5.034483          2.3  4.4
Iris-versicolor           4.9  7.0  0.516189  5.932075          2.0  4.4
Iris-virginica            4.9  7.9  0.650025  6.546429          2.2  3.9

                                    PetalLengthCm                           \
                      std      mean           min  max       std      mean
Species
Iris-setosa      0.389540  3.384546           1.0  5.4  0.737919  1.643574
Iris-versicolor  0.382355  2.805556           1.5  5.1  0.618195  4.172490
Iris-virginica   0.355203  2.996429           1.3  6.9  0.795195  5.469643

                PetalWidthCm
                         min  max       std      mean
Species
Iris-setosa              0.1  2.1  0.314673  0.314673
Iris-versicolor          0.4  1.8  0.235049  1.314815
Iris-virginica           0.4  2.5  0.366439  1.978221

In [18]:
data.isna().sum()

SepalLengthCm    3
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [19]:
for column in data.columns[1:-1]:
    data[column].fillna(value=data[column].mean(), inplace=True)

In [20]:
data.isna().sum()

SepalLengthCm    3
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [21]:
data.dropna(axis=0, how="any", inplace=True)

In [22]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [23]:

X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, :-1], data.iloc[:, -1], test_size=0.2)

NameError: name 'train_test_split' is not defined

In [ ]:
y_train